<a href="https://colab.research.google.com/github/Ashani-Sansala/Sentiment-Analysis---NLP/blob/main/Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Tweets.csv", encoding="latin-1")

In [ ]:
df = df[["airline_sentiment", "text"]]

In [ ]:
import nltk
import string
import re

from nltk.stem.porter import PorterStemmer

nltk.download('stopwords')
from nltk.corpus import stopwords

nltk.download('punkt')
ps = PorterStemmer()

def clean_text(text):
    text = text.lower()
    text = re.sub(r'http.?://[^\s]+[\s]?', '', text)
    text = nltk.word_tokenize(text)
    y = []

    for i in text:
        if i not in stopwords.words('english'):
            y.append(i)
        text = y[:]
        y.clear()

    for i in text:
        y.append(ps.stem(i))


    return (" ".join(y))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
df['text_cleaned'] = df['text'].apply(clean_text)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tf_vec = TfidfVectorizer(max_features=3000)
X = tf_vec.fit_transform(df['text_cleaned']).toarray()

In [ ]:
Y = df['airline_sentiment'].values

In [ ]:
df.head(5)

,airline_sentiment,text,text_cleaned
0,neutral,@VirginAmerica What @dhepburn said.,.
1,positive,@VirginAmerica plus you've added commercials t...,.
2,neutral,@VirginAmerica I didn't today... Must mean I n...,!
3,negative,@VirginAmerica it's really aggressive to blast...,recours
4,negative,@VirginAmerica and it's a really big bad thing...,

In [ ]:
df.groupby('airline_sentiment').describe()

                   text         \
                  count unique
airline_sentiment
negative           9178   9087
neutral            3099   3067
positive           2363   2298

                                                                           \
                                                                 top freq
airline_sentiment
negative           @AmericanAir that's 16+ extra hours of travel ...    2
neutral                                           @SouthwestAir sent    5
positive                                            @JetBlue thanks!    5

                  text_cleaned
                         count unique top  freq
airline_sentiment
negative                  9178   1783   .  2631
neutral                   3099    795   ?   789
positive                  2363    607   !   717

In [ ]:
X.shape

(14640, 2475)

In [ ]:
df.shape

(14640, 3)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [ ]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB()

In [ ]:
from os import X_OK
from sklearn.metrics import accuracy_score

y_pred = model.predict(X_test)
print(accuracy_score(y_test, y_pred))

0.6164617486338798

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model = RandomForestClassifier()

In [ ]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
y_pred = model.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.6150956284153005